#header{
		margin-bottom: 32px; 
  		text-align: center; 
	}
	#main{
		width: 1200px;
		margin: 50px;
		
	}
	.h1{
		font-size: 36px;
	}
	.h2{
		font-size: 32px;
	}
	.h3{
		font-size: 20px;
	}
	.htwo{
		width: 1200px;
		margin: 50px;
	}
	.htree{
		width: 1200px;
		margin: 50px;
	}
	.hfour{
		width: 1200px;
		margin: 50px;
	}
	#footer{
		text-align: center;
		margin-top: 64px;
	}
	.justp{
		font-size: 18px
	}
